<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trylang">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".buyer_activities.DisplaySpecificServiceActivity"></activity>
        <activity android:name=".seller_activities.AboutMeAsSellerActivity" />
        <activity android:name=".buyer_activities.ServiceCategoryActivity" />
        <activity android:name=".seller_activities.BuyersRequestActivity" />
        <activity android:name=".buyer_activities.ManageRequestActivity" />
        <activity android:name=".buyer_activities.RequestActivity" />
        <activity android:name=".seller_activities.CreateServicesActivity" />
        <activity android:name=".ProfileSettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".seller_activities.SellerActivity" />
        </activity>
        <activity android:name=".seller_activities.SellerActivity" />
        <activity android:name=".buyer_activities.BuyerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpAcitivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>